.container {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 650px;
    margin: auto;
    margin-bottom: 50px;
    font-family: 'Roboto,Helvetica,Arial'
}

.interviewInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    box-sizing: border-box;
}

.interviewInfoCol{
    width: 50%;
    padding-right                                                                                                                                                                                                                                                                    : 5px
}


.interviewInfoRow{
    flex-direction: row;
    display: flex;
}
