* {
  box-sizing: border-box;
}

.applicationFormPageWrapper {
  display: flex;
  margin-top: 80px;
  justify-content: flex-start;
  padding: 20px 250px;
}

.applicationDescription {
  font-size: 16px;
  font-family: FuseV2Display-Regular;
  line-height: 100%;
  font-weight: 600;
  color: #282d30;
  margin-top: 55%;
}

.redText {
  color: #c42635;
}

.subscribeButton {
  background-color: #c42635;
  color: white;
  padding: 14px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-family: 'FuseV2Display-ExtraBold', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 16px;
}

.applicationFormTitle {
  margin-top: 44px;
  font-family: FuseV2Display-ExtraBold;
  font-size: 96px;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 0%;
  color: #282d30;
  margin-bottom: 40px;
}

.formQuestionWrapper {
  padding: 20px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}

.formQuestionSubtitleText {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  margin-bottom: 10px;
  font-style: italic;
  margin-top: 5px;
}

.marginBottom30px {
  margin-bottom: 30px;
}

.warningText {
  font-size: 12px;
  font-weight: 500;
  color: #ff0000;
  font-style: italic;
  margin-bottom: 0px;
}

.warningTextPlaceholder {
  height: 26px;
}

.disciplinesChoiceWrapper {
  position: relative;
}

label {
  display: block;
}

input {
  display: block;
}

.submitButton {
  font-family: FuseV2Display-Regular !important;
  width: 161px !important;
  height: 44px !important;
  border-radius: 8px !important;
  background: #5cc2a0 !important;
  box-shadow: none !important;
}

.applicationFooterText {
  font-size: 14px;
  font-weight: 700;
  color: #444444;
  margin-bottom: 10px;
  font-style: italic;
  margin-top: 5px;
}

.cursorGrab {
  cursor: grab;
}

.formActionsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.applicationFormWelcomeImage {
  object-fit: contain;
  aspect-ratio: unset;
  width: unset;
}

.applicationFormIntroSection {
  width: 592px;
  position: sticky;
  top: 80px;
  height: 100%;
}

.applicationForm {
  width: 584px;
  display: inline-flex;
  padding: 64px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 24px;
  box-shadow:
    0px 8px 40px 0px rgba(214, 224, 233, 0.31),
    0px 4px 16px 0px rgba(214, 224, 233, 0.12),
    0px 2px 6px 0px rgba(214, 224, 233, 0.06);
  margin-bottom: 80px;
}

.applicationFormSubtitle {
  color: #242731;
  font-family: FuseV2Display-ExtraBold;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 36px;
}

.applicationFormAdditional {
  color: #575f6e;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

@media screen and (max-width: 1054px) {
  .applicationFormPageWrapper {
    flex-direction: column;
    align-items: center;
  }

  .applicationFormIntroSection {
    position: unset;
    margin-bottom: 44px;
  }
}

@media screen and (max-width: 630px) {
  .applicationFormTitle {
    font-size: 50px;
    width: 95%;
  }

  .applicationDescription {
    font-size: 12px;
    margin-top: 70%;
  }

  .subscribeButton {
    width: 90%;
    padding: 18px 20px;
  }

  .applicationFormWelcomeImage {
    display: none;
  }

  .applicationFormPageWrapper {
    margin-top: 8px;
    margin-left: 24px;
    margin-right: 24px;
    padding: 0;
  }

  .applicationForm {
    box-shadow: unset;
    width: 100%;
    padding: 0;
  }

  .applicationFormIntroSection {
    width: 100%;
    margin-left: 24px;
    margin-top: 20px;
    overflow-x: hidden;
  }
}
