.wrapper {
    width: 25vw;
    height: 618px;
    background-color: white;
    border-radius: 25px;
    padding: 35px;
    margin-left: 50px;    
}

.time {
    margin-bottom: 15px;
    font-weight: normal;
    font-size: 24px;
}

.notesLabel {
    margin-bottom: 15px;
}