.main {
  display: flex;
  gap: 24px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 720px;
}

.taskHeader {
  display: flex;
  align-items: center;
  gap: 24px;
}

.title {
  margin: 0;
}

.text {
  overflow-y: auto;
  flex-grow: 1;
}
