.main {
  display: flex;
  gap: 24px;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.task {
  flex-grow: 1;
  margin-right: 24px;

  .taskHeader {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .title {
    margin: 0;
  }
}
