.dialogButtonWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}

.noData {
  margin-top: 50px;
  text-align: center;
  font-style: italic;
  color: #999;
}
