.header {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 24px;
  margin-right: 24px;
}

.logoContainer {
  display: flex;
  align-items: center;

  .logo {
    height: 28px;
    margin-right: 16px;
  }

  .text {
    font-size: 24px;
    font-weight: 400;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.main {
  display: flex;
  gap: 24px;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.task {
  flex-grow: 1;
  margin-right: 24px;

  .taskHeader {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .title {
    margin: 0;
  }
}

.startForm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 64px;
}
