.applicationStatus {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.interviewBuilder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 50px 0;
}
