.container {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
}

.container {
  display: flex;
  gap: 24px;
}

@media screen and (max-width: 360px) {
  .container > :first-child,
  .container > :last-child {
    width: 100%;
    padding: 0;
  }
  .container {
    flex-direction: column;
  }
}

.image {
  width: 100%;
  aspect-ratio: calc(16 / 9);
  width: 650px;
}

.container > div > * {
  max-width: 100%;
}

.datesContainer {
  padding: 0 0 15px 0;
  margin: 0;
  color: gray;
  font-size: 14px;
}

.internFullName {
  padding: 0;
  margin: 0;
  font-size: 40px;
}

.atribute:first-child > h3 {
  margin-top: 0;
}
