.container {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
}

.container {
  display: flex;
  gap: 24px;
}

@media screen and (max-width: 360px) {
  .container > :first-child,
  .container > :last-child {
    width: 100%;
    padding: 0;
  }
  .container {
    flex-direction: column;
  }
}

img {
  aspect-ratio: calc(16 / 9);
  width: 650px;
}

.container > div > * {
  max-width: 100%;
}

.emailContainer {
  padding: 0 0 15px 0;
  margin: 0;
  color: gray;
  font-size: 14px;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 40px;
}

h3 {
  font-size: medium;
  margin: 0 0 15px 0;
}

.atribute,
.tick {
  padding: 10px 0;
  margin: 10px 0;
  width: 100%;
}

.tick {
  background-color: rgba(228, 202, 181, 0.82);
}

.data > :first-child {
  margin-top: 0;
  padding-top: 0;
}