.container {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
}

.container {
  display: flex;
  gap: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 360px) {
  .container > :first-child,
  .container > :last-child {
    width: 100%;
    padding: 0;
  }
  .container {
    flex-direction: column;
  }
}

.image {
  aspect-ratio: calc(16 / 9);
  width: 650px;
}

.container > div > * {
  max-width: 100%;
}

.mainInfoContainer {
  padding: 0 0 15px 0;
  margin: 0;
  color: gray;
  font-size: 14px;
}

.internFullName {
  padding: 0;
  margin: 0;
  font-size: 40px;
}

.itemTitle {
  font-size: medium;
  margin: 0 0 15px 0;
}

.atribute,
.tick {
  padding: 10px 0;
  margin: 10px 0;
  width: 100%;
}

.tick {
  background-color: rgba(228, 202, 181, 0.82);
}

.data > :first-child {
  margin-top: 0;
  padding-top: 0;
}

.logGrid {
  height: 365px;
  width: 220px;
}

.notesWrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  gap: 5px;
}

.notes {
  line-height: 10px;
  max-width: 200px;
  text-wrap: wrap;
}

.noteInput {
  display: flex;
}